body{
    background-color: #B1C1FF;
}
.fon-1{
    background-color: #BCCAFF;
    position: fixed;
    right: 10%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 954px;
}