body{
    background-color: #ECF2FF;
}
h1{
    text-align: center;
}
.line{
    background-color: #A3C0EB;
}
.name-txt{
    padding: 5px;
    font-size:60px;
}
.name-txt-2{
    background-color: #3F6FF1;
    padding: 10px 20px;
    font-size: 50px;
    border-radius: 100px;
    margin: 0 auto;
    width: fit-content;
}
.img-fon{
    position: absolute;
    bottom: 5px;

}
.img-fon-2{
    position: absolute;
    bottom: 5px;
    left: 30%;
}
.img-fon-3{
 position: absolute;
    bottom: 5px;
    left: 65%;
}